# Python pedalboard test results

- sr=44100 ch=2 f=220.0 shape=[44100, 2] min=-63.000 max=63.000 elapsed=0.1226s
- sr=44100 ch=2 f=440.0 shape=[44100, 2] min=-63.000 max=63.000 elapsed=0.1258s
- sr=44100 ch=2 f=880.0 shape=[44100, 2] min=-63.000 max=63.000 elapsed=0.1247s
- sr=44100 ch=2 f=1760.0 shape=[44100, 2] min=-63.000 max=63.000 elapsed=0.1223s
- sr=48000 ch=2 f=220.0 shape=[48000, 2] min=-63.000 max=63.000 elapsed=0.1458s
- sr=48000 ch=2 f=440.0 shape=[48000, 2] min=-63.000 max=63.000 elapsed=0.1343s
- sr=48000 ch=2 f=880.0 shape=[48000, 2] min=-63.000 max=63.000 elapsed=0.1343s
- sr=48000 ch=2 f=1760.0 shape=[48000, 2] min=-63.000 max=63.000 elapsed=0.1328s
- sr=96000 ch=2 f=220.0 shape=[96000, 2] min=-63.000 max=63.000 elapsed=0.2676s
- sr=96000 ch=2 f=440.0 shape=[96000, 2] min=-63.000 max=63.000 elapsed=0.2796s
- sr=96000 ch=2 f=880.0 shape=[96000, 2] min=-63.000 max=63.000 elapsed=0.2703s
- sr=96000 ch=2 f=1760.0 shape=[96000, 2] min=-63.000 max=63.000 elapsed=0.2888s

